body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1796px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1771px;
  height:652px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:109px;
  width:1771px;
  height:652px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:37px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:118px;
  width:765px;
  height:37px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u71 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:5px;
  width:814px;
  height:120px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:794px;
  word-wrap:break-word;
}
