.it-scroller {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .it-scroller-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        .it-scroller-touch {
            position: relative;
            width: fit-content;
            min-width: 100%;
            .pull-top{
                position: absolute;
                width: 100%;
                top: 0;
                transform: translateY(-100%);
                .spinner-holder{
                    height: 60ipx;
                    text-align: center;
                    -webkit-font-smoothing: antialiased;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-top: 10ipx;
                    .arrow {
                        width: 26ipx;
                        height: 26ipx;
                        margin: 8ipx auto 0;
                         transition: transform .2s linear;
                         flex: 0 0 auto;
                        &.active{
                            transform: rotate(-180deg);
                        }
                    }
                    .spinner{
                        width: 30ipx;
                        height: 30ipx;
                        flex: 0 0 auto;
                    }
                    .text{
                        line-height: 40ipx;
                    }
                }
            }

            .it-scroller-more{
                display: flex;
                height: 50ipx;
                align-items: center;
                justify-content: center;
                font-size: 14ipx;
                color: #999;
                .it-scroller-more-icon{
                    width: 24ipx;
                    margin-right: 10ipx;
                }
            }
        } 
    }
}