.layout-left{
    display: flex;
    flex-direction: column;
    .el-scrollbar{
        flex: 1;
        ::v-deep .el-scrollbar__view {
            min-height: 100%;
        }
    }
}

.el-menu-vertical:not(.el-menu-collapse) {
    width: 200px;
    min-height: 100%;
    height: 100%;
}