.it-swpier{
    overflow: hidden;
    width: 100%;
    position: relative;
}
.it-swpier-flex-column{
    flex-direction: column;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    :deep .it-swpier-item{
        flex: 1;
        height: 100%;
        width: 100%;
        flex: 0 0 auto;
    }
}

.itv-swpier-flex-row{
    display: flex;
    width: 100%;
    height: 100%;
    :deep .its-swpier-item{
        width: 100%;
        flex:  0 0 auto;
    }
    
}

.itv-swpier-animating{
    transition: all 200ms ease 0s;
}

.itv-move-anmiating{
    transition: all 0ms ease 0s;
}