.it-picker{
    background-color: #FFF;
    width: 100%;
}
.it-picker-ui {
    width: 100%;
    .title-bar {
        height: 44ipx;
        text-align: center;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        font-size: 16ipx;
        position: relative;
        background-color: #fff;
        &::after{
            content: '';
            left: 0;
            bottom: 0;
            right: 0;
            border-bottom:  #DADADA solid 1px;
            transform: scaleY(0.5);
            position: absolute;
        }
        .left-btn, .right-btn {
            height: 44pt;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14ipx;
           

        }
        .left-btn {
            left: 0;
            color: #666;
            padding-left: 16pt;
        }
        .right-btn{
            right: 0;
            color: #2caf4f;
            padding-right: 16pt;
            &.forbid{
                color: #aaa;
            }
        }
        

    }
}
.it-picker-control{
    display: flex;
    height: 44ipx;
    border-bottom: 1px solid #fff;
    text-align: center;
    line-height: 44ipx;
    font-size: 14ipx;
    .it-picker-cancel-btn,
    .it-picker-confirm-btn{
        width: 60ipx;
        color: #2caf4f;
    }
    .it-picker-title{
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.it-picker-panel{
    height: 220ipx;
    display: flex;
    width: 100%;
    background-color: #fff;
}

.it-picker-list{
    flex: 1;
    position: relative;
    height: 100%;
    overflow: hidden;
    text-align: center;
    .it-picker-list-panel{
        transform-style: preserve-3d;
     
    }
    .it-picker-mask{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,.3)),linear-gradient(0deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,.3));
        background-position: top, bottom;
       
        background-repeat: no-repeat;
        z-index: 3;
        &.it-picker-row5{
            background-size: 100% 88ipx;
        }
        &.it-picker-row7{
            background-size: 100% 132ipx;
        }
        &.clear-mask {
            background-image: none;
        }
    }
    .it-picker-indicator{
        position: absolute;
        top: 88ipx;
        width: 100%;
        height: 44ipx;
        border-top: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
        z-index: 3; 
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.04);
        display: none;
        &.it-picker-row5{
            top: 88ipx;
        }
        &.it-picker-row7{
            top: 132ipx;
        }
    }

    .it-picker-content, .it-picker-roller{
        position: absolute;
        top: 88ipx;
        width: 100%;
        height: 44ipx;
        background: rgba(0, 0, 0, 0.04);
        &.it-picker-row5{
            top: 88ipx;
        }
        &.it-picker-row7{
            top: 132ipx;
        }
    }
    .it-picker-content{
        z-index: 2;
        // overflow: hidden;
    }
    .it-picker-item, .it-picker-roller-item{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 44ipx;
        color: #333;
        font-size: 14ipx;
        height: 44ipx;
        text-align: center;
    }
    .it-picker-item{
        font-size:  14ipx;
       
        &.hide-opacity {
            opacity: 0;
        }
        &.picker-forbid{
            color: #aaa;
        }
    }
    .it-picker-roller{
        z-index: 1;
        transform-style: preserve-3d;
        display: none;
        .it-picker-roller-item{
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            width: 100%;
            color: #333;
            height: 44ipx;
        }
        .it-picker-roller-item-hidden {
            visibility: hidden;
            opacity: 0;
        }
    }
}


